# Casper chain name
CASPER_CHAIN_NAME=casper-test

# Casper Testnet node RPC address
CASPER_NODE_ADDRESS=https://node.testnet.casper.network/rpc

# Deployed VaultCover contract hash
VAULTCOVER_CONTRACT_HASH=hash-2f485675833c0abd6faa96803dd3cd02a35e6afc363fc545d2cdb4a05733b68a
